<script>
import { __ } from '~/locale';
import FilteredSearchBar from '~/vue_shared/components/filtered_search_bar/filtered_search_bar_root.vue';
import {
  FILTERED_SEARCH_TERM,
  TOKEN_TITLE_PROJECT,
  TOKEN_TYPE_PROJECT,
  OPERATORS_IS,
  TOKEN_TITLE_GROUP_INVITE,
  TOKEN_TYPE_GROUP_INVITE,
} from '~/vue_shared/components/filtered_search_bar/constants';
import glFeatureFlagMixin from '~/vue_shared/mixins/gl_feature_flags_mixin';
import BaseToken from '~/vue_shared/components/filtered_search_bar/tokens/base_token.vue';
import ProjectToken from 'ee/usage_quotas/code_suggestions/tokens/project_token.vue';

export default {
  name: 'SearchAndSortBar',
  components: {
    FilteredSearchBar,
  },
  mixins: [glFeatureFlagMixin()],
  inject: { fullPath: { default: '' } },
  data() {
    return {
      search: undefined,
    };
  },
  computed: {
    isFilteringEnabled() {
      return this.glFeatures.enableAddOnUsersFiltering;
    },
    tokens() {
      if (!this.isFilteringEnabled) return [];

      return [
        {
          fullPath: this.fullPath,
          icon: 'project',
          operators: OPERATORS_IS,
          title: TOKEN_TITLE_PROJECT,
          token: ProjectToken,
          type: TOKEN_TYPE_PROJECT,
          unique: true,
        },
        {
          options: [
            { value: 'true', title: __('Yes') },
            { value: 'false', title: __('No') },
          ],
          icon: 'user',
          operators: OPERATORS_IS,
          title: TOKEN_TITLE_GROUP_INVITE,
          token: BaseToken,
          type: TOKEN_TYPE_GROUP_INVITE,
          unique: true,
        },
      ];
    },
  },
  methods: {
    handleFilter(filterOptions) {
      this.$emit('onFilter', this.getFilterParams(filterOptions));
    },
    getFilterParams(filters = []) {
      let searchTerm = '';

      return filters.reduce((filterParams, filter) => {
        const { type, value } = filter || {};
        if (!value?.data) return filterParams;
        switch (type) {
          case TOKEN_TYPE_GROUP_INVITE:
            return { ...filterParams, filterByGroupInvite: value.data };
          case TOKEN_TYPE_PROJECT:
            return { ...filterParams, filterByProjectId: value.data };
          case FILTERED_SEARCH_TERM:
            searchTerm = searchTerm.concat(' ', value.data).trim();
            return { ...filterParams, search: searchTerm };
          default:
            return filterParams;
        }
      }, {});
    },
  },
};
</script>

<template>
  <div class="gl-display-flex gl-bg-gray-10 gl-p-3 gl-gap-3">
    <filtered-search-bar
      class="gl-flex-grow-1"
      :namespace="fullPath"
      :tokens="tokens"
      :search-input-placeholder="__('Filter users')"
      @onFilter="handleFilter"
    />
  </div>
</template>
